@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

body{
  font-family: 'Kalam';
  display: flex;
  align-items:center;
  justify-content: center;
  height:100vh;
}

.clock{
  width:200px;
  height: 200px;
  background: lightgray;
  border:10px solid #000;
  border-radius: 50%;
  position:relative;
}

.hands{
  position: absolute;
  top: 50%;                         /* 3 */
  left: 50%;                         /* 3 */
  transform: translate(-50%, -50%);  
  width:10px;
  height: 10px;
  background:#F51720;
  border-radius: 50%;
}

.hands > .minutes{
  content:"";
  position: absolute;
  top:-80px;
  left:2px;
  width:5px;
  height:84px;
  background:#F8D210;
  transform:rotate(360deg);
  transform-origin: bottom;
}

.hands > .hours{
  content:"";
  position: absolute;
  top:-46px;
  left:5px;
  width:5px;
  height:50px;
  background:#059DC0;
  transform:rotate(90deg);
  transform-origin: bottom;
}
.hands > .seconds {
  position: absolute;
  top:-56px;
  left:3px;
  width:2px;
  height:60px;
  background:#D4F1F4;
  transform:rotate(0deg);
  transform-origin: bottom;
}
